@import url('http://fonts.cdnfonts.com/css/arial-rounded-mt-bold');

:root {
    --main-font:
     font-family: 'Arial Rounded MT Bold', sans-serif;
     font-weight: 700;
    --main-background-color: #D95550;
}

#container{
    margin: auto;
    max-width: 900px;
    height: 100vh;
}




body {
    font: var(--main-font);
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    
    margin: 0;
}

p {
    font: var(--main-font);
    color: aliceblue;

}

/* header */
header {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
   border-bottom: solid rgb(104, 103, 103, 0.3) 1px ;
    width: 100%;
    height: auto;
    
}

.icon {
    max-width: 20px;
}

.lefticon {
    max-width: 1.8rem;
}

#logo {
    font: var(--main-font);
    font-weight: 700;
    text-decoration: none;
    color: aliceblue;
}


#leftside {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: auto;
    min-width: 40%;
    justify-content: flex-start;
}

p {
    margin-top: 0%;
    margin-bottom: 0;
    font-size: 1rem;

}

#rightside {
    display: flex;
flex-direction: row;
justify-content: flex-end;
  width: auto;

    gap: 1rem;
}

.buttonlook {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;

    background-color: #DD6662;
    border-radius: 3px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;


}


/* timer */
#timerbox{
   display: flex;
   justify-content: space-between;
   max-width: 600px;
   margin: auto;
   margin-top: 5rem;

  
}
.timerbuttons{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    border-radius: 4px;
}


button{
    background: #BC5753;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    box-sizing: border-box;
}

span{
  
    color: aliceblue;
    font: var(--main-font);
    font-weight: 700;  
}

/* white background area */
#whitebackground{
    height: 80vh;
    background-color: aliceblue;
}

/* footer */
footer{
    height: 20vh;
    background-color: aliceblue;
    border-top: solid grey 1px;
}

@media only screen and (max-width: 1200px)  {
.hidden{
display: none;
}
}

