@import url('http://fonts.cdnfonts.com/css/arial-rounded-mt-bold');

:root {
    --main-font: font-family: 'Arial Rounded MT Bold', sans-serif;
    --main-background-color:#D95550;                                  
}


body { 
   font: var(--main-font);
   background-color: var(--main-background-color);
   display: flex;
   flex-direction: column;
   width: 100%;
}


